.category-grid {
    display: flex;
    gap:30px;
    align-items: center;
    padding :25px;
}
.category-card {
    position: relative;
    width: 16%;
}
.category-card h3 {
    position: absolute;
    top: 24px;
    font-size: 30px;
    font-weight: 600;
    color: white;
    right: 76px;
}
.category-card {
    position: relative;
    width: 16%;
}
.category-card img {
    object-fit: cover;
    height: 247px;
    width: 100%;
    border-radius: 20px;
}
.category-card img:hover {
  transform: scale(1.1);
}
h2.category-heading {
       margin: 30px;
    font-size: 28px;
    font-weight: bold;
}
@media (max-width:1450px) {
   .category-card h3 {
    font-size: 29px;
        right: 25%;
}
}
@media (max-width:1250px) {
    .category-card h3 {
      font-size:18px;
       right: 20%;
}
  
}

@media (max-width:992px) {
.category-grid {
    flex-wrap: wrap;
}
.category-card {
    width: 25%;
      margin: auto;
}
.category-card h3 {
    font-size: 20px;
        right: 30%;
} 

}
@media (max-width:768px) {
   .category-card {
    width: 36%;
}
.category-card h3 {
    font-size: 29px;

}
    @media (max-width:575px) {
      .category-card {
        width: 60%;
    } }
}
@media (max-width:420px) {
 
 .category-card {
        width: 85%;
    } 
  
}
@media (max-width:320px) {
 
      .category-card h3 {
        font-size: 19px;
    }
}


