.offerban-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

/* Background image */
.offerban-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Card */
.offerban-card {
    color: #fff;
    background: #0b4d3b;
    border-radius: 8px;
    width: 450px;
    padding: 40px;
    position: absolute;
    top: 30%;
    right: 172px;
    height: 362px;
}

/* Title */
.offerban-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.3;
}

/* Description */
.offerban-description {
  font-size: 16px;
  margin-bottom: 25px;
  line-height: 1.6;
  color: #dcdcdc;
}

/* Button */
.offerban-button {
  padding: 12px 20px;
  border: 1px solid white;
  background: transparent;
  color: white;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.offerban-button:hover {
  background: white;
  color: #0b4d3b;
}
@media (max-width:1250px) {
  .offerban-card {
    width: 390px;
    height: 319px;
    top: 20%;

}

}
@media (max-width:950px) {
  .offerban-card {
    width: 373px;
    height: 322px;
    top: 10%;
    right: 30%;
    padding: 10px;
}
}
@media (max-width:850px) {
  .offerban-title {

    font-size: 22px;
}
.offerban-card {
    height: 256px;
}
.offerban-button {
    padding: 5px 14px;
  
}
   .offerban-bg {
    height: 386px;
}
}
@media (max-width:650px) {
  
  .offerban-card {
    height: 250px;
    width: 285px;
}


}
@media (max-width:560px) {
      .offerban-card {
        width: 324px;
        height: 236px;
        top: 2%;
    }
 
}
@media (max-width:570px) {
      .offerban-card {
        top: 17%;
        right: 21%;
    }
  
}
@media (max-width:440px) {
    .offerban-card {
    right: 9%;}
}
@media (max-width:395px) {
  .offerban-card {
    right: 6%;
    width: 221px;
    height: 294px;
}

}